body{
    text-align: center;
    margin: 0;
    background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-pastel-color-gradient-background-website-banner-paper-card-design_120819-487.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment:scroll ;
   

}
.code{
    
    position: absolute;
    top: 170px;
    left: 85px; 
}
.code1{
    
    position: absolute;
    top: 160px;
    right: 100px; 
}
.code2{
    
    text-align: center;
}


h1{
    margin:0;
    font-family: 'Caveat', cursive;
    font-size: 70px;
}

.middlecontainer{
    text-align: center;
}


.profile{
    padding-top: 30px;
}

p,h2{
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
}
.skillrow{
    display: inline;
    
}
.skill_logo{
    height: 100px;
    padding-right: 8px;
    padding-left: 4px;
}

.top{
    
    
    padding-top: 100px;
    font-size: 25px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 10px;
    
}
